{% extends 'base.html.twig' %}

{% block title %} IT&M - Questions {% endblock %}


{% block body %}
    {{ parent() }}

    {% if action == "edit" or action == "add" %}
    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>{% if action =="add" %} Nouvel {% else %} Modifier {% endif %} Enregistrement</h5>
                </div>
                <div class="card-body">
                    {{ include('FicheAcceptance/question/action.html.twig') }}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    
    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="bug-list-search-content">
                        <form method="get" action="">
                            <div class="position-relative">
                                <input type="search" id="search-contacts" name="search_input" value="{{ app.request.get('search_input')}}" class="form-control" placeholder="Recherche avancée...">
                                <div class="form-control-position">
                                    <i class="fa fa-search text-size-base text-muted la-rotate-270"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 >Liste des Questions <span class="badge badge badge-info badge-pill mr-2">{{ questions.getTotalItemCount }}</span></h4>
                    <div class="heading-elements mt-0">
                        {% if app.user and is_granted('ROLE_AJOUTER_QUESTION') %}
                            <a class="btn btn-cyan btn-sm" href="{{ path('add_question_page') }}"><i class="fa fa-plus mr-0"></i>
                                nouvel enregistrement
                            </a>
                        {% endif %}
                        <a class="btn btn-warning btn-sm" href="{{ path('question_page') }}" title="Actualiser"><i class="fa fa-refresh"></i></a>
                    </div> 
                </div>  <!-- end card-header -->
                <div class="card-body">
                    {% if not questions|length %}

                        <div class="alert alert-info" role="alert" style="padding:8px;">
                            <i class="icon fa fa-info-circle"></i> <span id="content-message"> Aucun enregistrement trouvé</span>
                        </div>

                    {% else %}
                    <div class="table-responsive m-t-40">
                        <table class="display nowrap table table-hover table-bordered" cellspacing="0" width="100%" style="font-size:13.5px;">
                            <thead>
                            <tr>
                                <th>Nom de question</th>
                                   <th>Criticité</th>
                                 <th>Choix</th>
                                {% if app.user and (is_granted('ROLE_MODIFIER_QUESTION') or is_granted('ROLE_SUPPRIMER_QUESTION')) %}
                                <th style="text-align:center;">Actions</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody style="line-height:40px;">
                            {% for question in questions %}
                                <tr data-id="{{ question.id }}" {% if question.id == selected_row %} style="Background-color:#dcdfdc;" {% endif %}>
                                    <td >{{ question.label }}</td>
                                    {% if question.criticity  == 0 %}
                                     <td >Mineure</td>
                                    {% elseif question.criticity  == 1 %}
                                     <td >Majeure</td>
                                    {% elseif  question.criticity  == 2 %}
                                     <td >Bloquante</td>
                                    {% endif %}
                                     <td style="width:200px;">
                                        {% if question.choix is not null %}
                                            {% for choix in question.choix %}
                                                <label class="badge badge-primary ">{{ choix.label }}</label>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    {% if app.user and (is_granted('ROLE_MODIFIER_QUESTION') or is_granted('ROLE_SUPPRIMER_QUESTION')) %}
                                    <td style="text-align: center; min-width:150px; width:120px;">
                                        {% if app.user and is_granted('ROLE_MODIFIER_QUESTION') %}
                                        <a class="btn btn-linkedin btn-sm"  href="{{ path('edit_question_page',{id:question.id,search_input:search_input,page:page}) }}" title="Modifier">
                                            <i class="fa fa-pencil-square-o text-white"></i>
                                        </a>
                                        {% endif %}
                                        {% if app.user and is_granted('ROLE_SUPPRIMER_QUESTION') %}
                                        <a class="btn btn-danger btn-sm" id="delete_data" data-id="{{ question.id }}" data-toggle="modal" data-target="#modal_delete_data" title="Supprimer">
                                            <i class="fa fa-trash-o text-white"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <div class="navigation pull-right" style="margin-left:20px;">
                            {{ knp_pagination_render(questions) }}
                        </div>
                    </div><!-- end div table-responsive -->
                    {% endif  %}
                </div><!-- end div card-body -->
            </div><!-- end div card -->
        </div><!-- end div col-12 -->
    </section><!-- end div section -->

    <!--  start modal suppression data -->

    <div id="modal_delete_data" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel" style="color:#4b50fc">Suppression enregistrement</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                 <div class="modal-body">
                    <p style="color:black;">Voulez vous vraiment supprimer cet enregistrement ?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger waves-effect" data-dismiss="modal" style="color:white;">Annuler</a>
                    <a  class="btn btn-success waves-effect" style="color:white;" id="confirmer_delete">Confirmer</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--  end  modal suppression data -->


{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        {% for flash_message in app.session.flashBag.get('success') %}

                toastr.success('{{ flash_message }}', {positionClass: 'toast-top-center', containerId: 'toast-top-center'});

        {% endfor %}

        {% for flash_message in app.session.flashBag.get('info') %}

                toastr.info('{{ flash_message }}', {positionClass: 'toast-top-center', containerId: 'toast-top-center'});

        {% endfor %}


        {% for flash_message in app.session.flashBag.get('warning') %}

                toastr.warning('{{ flash_message }}', {positionClass: 'toast-top-center', containerId: 'toast-top-center'});

        {% endfor %}

        {% for flash_message in app.session.flashBag.get('error') %}

                toastr.error('{{ flash_message }}', {positionClass: 'toast-top-center', containerId: 'toast-top-center'});

        {% endfor %}


    </script>

    {% include('FicheAcceptance/question/ajax/delete.html.twig') %}

    {% include('FicheAcceptance/question/ajax/change_list.html.twig') %}

{% endblock %}

