{% extends 'base.html.twig' %}

{% block title %} IT&M -  Items {% endblock %}


{% block body %}
    {{ parent() }}

    {% if action == "edit" or action == "add" %}
    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>{% if action =="add" %} Nouvel {% else %} Modifier {% endif %} Enregistrement</h5>
                </div>
                <div class="card-body">
                    {{ include('FicheAcceptance/item/action.html.twig') }}
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    
    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="bug-list-search-content">
                        <form method="get" action="">
                            <div class="position-relative">
                                <input type="search" id="search-contacts" name="search_input" value="{{ app.request.get('search_input')}}" class="form-control" placeholder="Recherche avancée...">
                                <div class="form-control-position">
                                    <i class="fa fa-search text-size-base text-muted la-rotate-270"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 >Liste des items <span class="badge badge badge-info badge-pill mr-2">{{ items.getTotalItemCount }}</span></h4>
                    <div class="heading-elements mt-0">
                        {% if app.user and is_granted('ROLE_AJOUTER_ITEM') %}
                            <a class="btn btn-cyan btn-sm" href="{{ path('add_item_page') }}"><i class="fa fa-plus mr-0"></i>
                                nouvel enregistrement
                            </a>
                        {% endif %}
                        <a class="btn btn-warning btn-sm" href="{{ path('item_page') }}" title="Actualiser"><i class="fa fa-refresh"></i></a>
                    </div> 
                </div>  <!-- end card-header -->
                <div class="card-body">
                    {% if not items|length %}

                        <div class="alert alert-info" role="alert" style="padding:8px;">
                            <i class="icon fa fa-info-circle"></i> <span id="content-message"> Aucun enregistrement trouvé</span>
                        </div>

                    {% else %}
                   



                        {% for item in items %}

            <div class="card border-black mb-3" style="max-width: 100rem;">
            
                <div class="card-header bg-transparent" style="border-bottom:solid 1px black;">

                    <strong>{{ item.label }}</strong>
                    
                    {% if app.user and (is_granted('ROLE_MODIFIER_ITEM') or is_granted('ROLE_SUPPRIMER_ITEM')) %}
                       {% if app.user and is_granted('ROLE_MODIFIER_ITEM') %}
                                        <a class="btn btn-linkedin btn-sm pull-right"   href="{{ path('edit_item_page',{id:item.id,search_input:search_input,page:page}) }}" title="Modifier">
                                            <i class="fa fa-pencil-square-o text-white"></i>
                                        </a>
                       {% endif %}
                       {% if app.user and is_granted('ROLE_SUPPRIMER_ITEM') %}
                                        <a class="btn btn-danger btn-sm pull-right"  style="margin-right:5px;" id="delete_item_data" data-id="{{ item.id }}" data-toggle="modal" data-target="#modal_delete_data" title="Supprimer">
                                            <i class="fa fa-trash-o text-white"></i>
                                        </a>
                       {% endif %}
                    {% endif %}
                 
                </div>
                
                <div class="card-body text-black">
            
                      {% if item.sousItems is not null %}
                                             

                    <div id="accordionWrap1" role="tablist" aria-multiselectable="true">
                        <div class="card collapse-icon panel mb-0 box-shadow-0 border-0">
                            {% for sousItem in item.sousItems %}
                                <div id="heading-{{item.id}}-{{sousItem.id}}" role="tab" class="card-header border-bottom-blue-grey border-bottom-lighten-2">
                                    <a data-toggle="collapse" data-parent="#accordionWrap1" href="#accordion-{{item.id}}-{{sousItem.id}}" aria-expanded="true" aria-controls="accordion-{{item.id}}-{{sousItem.id}}" class="h6 blue">{{sousItem.label }}</a>
                                </div>
                                <div id="accordion-{{item.id}}-{{sousItem.id}}" role="tabpanel" aria-labelledby="heading-{{item.id}}-{{sousItem.id}}" class="collapse show" aria-expanded="true">
                                    <div class="card-body">
                                        {% for question in sousItem.question %}
                                        <p class="card-text">{{question.label}}.</p>
                                    {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>


                      {% endif %}
                
                </div>

            </div>
            {% endfor %}  
                        <div class="navigation pull-right" style="margin-left:20px;">
                            {{ knp_pagination_render(items) }}
                        </div>
                    {# </div><!-- end div table-responsive --> #}
                    {% endif  %}
                </div><!-- end div card-body -->
            </div><!-- end div card -->
        </div><!-- end div col-12 -->
    </section><!-- end div section -->

    <!--  start modal suppression data -->

    <div id="modal_delete_data" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false"
         data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel" style="color:#4b50fc">Suppression enregistrement</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                 <div class="modal-body">
                    <p style="color:black;">Voulez vous vraiment supprimer cet enregistrement ?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger waves-effect" data-dismiss="modal" style="color:white;">Annuler</a>
                    <a  class="btn btn-success waves-effect" style="color:white;" id="confirmer_delete">Confirmer</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--  end  modal suppression data -->


{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        {% for flash_message in app.session.flashBag.get('success') %}

                toastr.success('{{ flash_message }}', {positionClass: 'toast-top-center', containerId: 'toast-top-center'});

        {% endfor %}

        {% for flash_message in app.session.flashBag.get('info') %}

                toastr.info('{{ flash_message }}', {positionClass: 'toast-top-center', containerId: 'toast-top-center'});

        {% endfor %}


        {% for flash_message in app.session.flashBag.get('warning') %}

                toastr.warning('{{ flash_message }}', {positionClass: 'toast-top-center', containerId: 'toast-top-center'});

        {% endfor %}

        {% for flash_message in app.session.flashBag.get('error') %}

                toastr.error('{{ flash_message }}', {positionClass: 'toast-top-center', containerId: 'toast-top-center'});

        {% endfor %}


    </script>

    {% include('FicheAcceptance/item/ajax/delete.html.twig') %}

{% endblock %}

